body {
    background-color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.innercircle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    display: flex;


}


.heading h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;


}

.outercircle {
    height: 45rem;
    width: 45rem;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
    position: relative;


}


.outercircle::after,
.outercircle::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(114, 4, 85), rgb(147, 255, 237));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 1rem;
    animation: spin 3s linear infinite, rotate 10s linear infinite;
    box-shadow: 0rem 2rem 4rem;
    /* filter: blur(4.5rem); */
}

.outercircle::before {
    filter: blur(4.5rem);
    animation: spin 0.1s linear infinite, rotate 15s linear infinite;
}

@keyframes spin {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.number {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.clockhand {
    height: 18rem;
    width: 0.3rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(0deg);
    border-radius: 3px;
    transition: transform 1s linear infinite;
}

.time {
    font-size: 5rem;
    position: absolute;
    top: 25rem;
    left: 13.8rem;
    color: rgb(198, 18, 174);


}