* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(147, 177, 166);
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: rgb(24, 61, 61);
    width: 60%;
    min-width: 500px;
    margin: 250px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: rgb(92, 131, 116);
}
.tabs button {
    flex: 1;
    padding: 15px;
    border: none;
    background-color: rgb(92, 131, 116);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.tabs button.active {
    background-color: rgb(24, 61, 61);
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    padding: 20px;
}
.timer-display {
    width: 100%;
    background: rgb(92, 131, 116);
    padding: 40px 0;
    color: white;
    text-align: center;
    font-size: 3rem;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.buttons button:hover {
    background-color: #141313;
    color: #ffffff;
}
.laps {
    text-align: center;
    color: white;
}

.laps ul {
    list-style: none;
    margin-top: 20px;
}

.laps ul li {
    padding: 5px;
    border-bottom: 1px solid white;
}


.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #f0f0f0;
    margin: 0 5px;
    border-radius: 5px;
}

.tab-link.active {
    background-color: rgb(24, 61, 61);
    color: white;
}
